
<body>
  <h1 class='page-title'>Available Spaces</h1>

  <form action='/spaces/new' method='get' >
    <input type='submit' id='new-spaces-button' value='Add new space'>
  </form>

  <form action='/filter' method='post' >
    <label for='city'>
      Search by city:<input type='text' id='filter-location-search' name='location'>
      <input type='submit' id='filter-location-button' value='Search'>
    </label>
  </form>


  <%if !@spaces.empty?%>
    <%@spaces.each do |space|%>
      <div class='space-index-frame'>
        <a class='invisible-space-link' id='<%=space.name%>' href='/spaces/<%=Space.first(name: "#{space.name}").id%>'>
          <div class='space-info' id='name'>
            Space Name: <%=space.name %>
          </div>

          <div class='space-info' id='location'>
            Location: <%=space.location %>
          </div>

          <div class='space-info' id='start-date'>
            Available from: <%=space.start_date %>
          </div>

          <div class='space-info' id='end_date'>
            Until: <%= space.end_date %>
          </div>

          <div class='space-info' id='price'>
            Price: <%=space.price %>
          </div>

          <div class='space-info' id='description'>
            Description: <%=space.description %>
          </div>

        </a>

       </div>
    <%end%>
  <%end%>

</body>
