
<body>
  <div class='jumbotron text-center'>
    <h1 class='page-title'>Available Spaces</h1>

    <p>
      <form action='/spaces/new' method='get' >
      <input class='btn btn-lg btn-success' type='submit' id='new-spaces-button' value='Add new space'>
    </form>
    </p>
  </div>


<div class='container col-8'>
  <div class='row'>
    <div class='text-center'>
      <div id='imaginary container'>
        <div class='input-group stylist-input-group'>
          <form action='/filter' method='post' >
            <input type='text' class='form-control' id='filter-location-search' name='location' placeholder='Filter by city'>
            <span class='input-group-addon'>
              <button type='submit' id='filter-location-button' value='Search'>
                <span class='glyphicon glyphicon-search'>
                </span>
              </button>
            </span>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

  <form action='/filter/price-high' method='get'>
    <input type='submit' id='filter-high-price-button' value='Filter by Highest Price' name='high'>
  </form>

  <form action='/filter/price-low' method='get'>
    <input type='submit' id='filter-low-price-button' value='Filter by Lowest Price' name='low'>
  </form>


  <%if !@spaces.empty?%>
    <%@spaces.each do |space|%>
      <div class='space-index-frame col-lg-3'>
        <a class='invisible-space-link' id='<%=space.name%>' href='/spaces/<%=Space.first(name: "#{space.name}").id%>'>
          <div class='space-info' id='name'>
            Space Name: <%=space.name %>
          </div>

          <div class='space-info' id='location'>
            Location: <%=space.location %>
          </div>

          <div class='space-info' id='start-date'>
            Available from: <%=space.start_date %>
          </div>

          <div class='space-info' id='end_date'>
            Until: <%= space.end_date %>
          </div>

          <div class='space-info' id='price'>
            Price: <%=space.price %>
          </div>

          <div class='space-info' id='description'>
            Description: <%=space.description %>
          </div>

        </a>

        <form action='/booking/new' method='get'>
          <button class='btn btn-default booking-link-button' type="submit" value="Book">Book</button>
        </form>


       </div>
    <%end%>
  <%end%>

</body>
