<h1>Space Added</h1>

<body>

  <%if !@spaces.empty?%>
    <%@spaces.each do |space|%>
      <div class='space-index-frame'>
        <a class='invisible-space-link' id='<%=space.name%>' href='/spaces/<%=Space.first(name: "#{space.name}").id%>'>
          <div class='space-info' id='name'>
            Space Name: <%=space.name %>
          </div>

          <div class='space-info' id='location'>
            Location: <%=space.location %>
          </div>

          <div class='space-info' id='price'>
            Price: <%=space.price %>
          </div>

          <div class='space-info' id='description'>
            Description: <%=space.description %>
          </div>

          <form action='/booking/new' method='post'>
            <input type="hidden" name='id' value="<%=space.id%>">
            <input type="submit" value="Book" id="Book">
          </form>
        </a>
       </div>
    <%end%>
  <%end%>

</body>
