<!DOCTYPE html>
<html>
  <head>
    <title>MakersBnB</title>


    <link rel="stylesheet" href="/stylesheets/test.css">

  </head>

  <body>

    <% if current_user %>
        <%= partial :signed_in_header %>
      <% else %>
        <%= partial :signed_out_header %>
      <% end %>

    Makers BnB
    <%= partial :welcome_new_user %>
    <%= partial :welcome %>
    <%= partial :flash %>
    <%= yield %>

  </body>
</html>
